Repository cloudacademy/azure-get-started-app-service: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-lorrylogapi.yml, azure-pipelines.yml

azure-pipelines-lorrylogapi.yml:
  pool:
    vmImage: windows-2019
  steps:
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: $(project)
  - task: DotNetCoreCLI@2
    inputs:
      command: test
  ...

azure-pipelines.yml:
  pool:
    vmImage: windows-2019
  steps:
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    inputs:
      restoreSolution: $(solution)
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: $(project)
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: false
  ...

Update azure-pipelines-lorrylogapi.yml for Azure Pipelines
  azure-pipelines-lorrylogapi.yml
Due: none

Changed LorryLogApi flloder name from TrackAPI
  LorryLogAPI/.config/dotnet-tools.json
  LorryLogAPI/Controllers/VehiclesController.cs
  LorryLogAPI/Data/TrackAPIContext.cs
  LorryLogAPI/LorryLogAPI.csproj
  LorryLogAPI/Program.cs
  LorryLogAPI/Properties/launchSettings.json
  LorryLogAPI/Startup.cs
  LorryLogAPI/appsettings.Development.json
  LorryLogAPI/appsettings.json
Due: azure-pipelines-lorrylogapi.yml

Renamed azure-pipelines.yml to azure-pipelines-lorrylogadmin.yml
  azure-pipelines-lorrylogadmin.yml
Due: none

Update azure-pipelines-lorrylogadmin.yml for Azure Pipelines
  azure-pipelines-lorrylogadmin.yml
Due: none

lorrylogadmin yaml true => True
  LorryLogger.sln
  TrackAPI/.config/dotnet-tools.json
  TrackAPI/Controllers/VehiclesController.cs
  TrackAPI/Data/TrackAPIContext.cs
  TrackAPI/LorryLogAPI.csproj
  TrackAPI/Program.cs
  TrackAPI/Properties/launchSettings.json
  TrackAPI/Startup.cs
  TrackAPI/appsettings.Development.json
  TrackAPI/appsettings.json
  azure-pipelines-lorrylogadmin.yml
Due: none

Updated LorryLogAPI refrernce path
  LorryTests/LorryTests.csproj
  LorryTests/VehicleTests.cs
Due: azure-pipelines-lorrylogapi.yml

Point connection string Azures Sql
  LorryTests/testsettings.json
Due: azure-pipelines-lorrylogapi.yml

InMemory EF testing for Azure Devops pipelines
  LorryTests/LorryTests.csproj
  LorryTests/VehicleTests.cs
  LorryTests/testsettings.json
Due: azure-pipelines-lorrylogapi.yml

Azure Devops
  LorryLogAdmin/Views/Home/Index.cshtml
Due: azure-pipelines.yml

Vehicles controller data
  LorryLogAdmin/Controllers/VehiclesController.cs
Due: azure-pipelines.yml

Remove Data folder
  LorryLogAdmin/Controllers/VehiclesController.cs
  LorryLogAdmin/LorryLogAdmin.csproj
Due: azure-pipelines.yml

Remove Data
  LorryLogAdmin/Program.cs
  LorryLogAdmin/Startup.cs
Due: azure-pipelines.yml

Update home index
  LorryLogAdmin/Controllers/HomeController.cs
  LorryLogAdmin/Views/Home/Index.cshtml
Due: azure-pipelines.yml

Update home index
  LorryLogAdmin/Views/Home/Index.cshtml
Due: azure-pipelines.yml

full stop on index page
  LorryLogAdmin/Views/Home/Index.cshtml
Due: azure-pipelines.yml

Create README.md
  README.md
Due: none

Update launchSettings.json
  LorryLogAPI/Properties/launchSettings.json
Due: azure-pipelines-lorrylogapi.yml

Add or update the App Service deployment workflow configuration from Azure Portal.
  .github/workflows/master_lorryapi.yml
Due: none

Update VehiclesController.cs
  LorryLogAPI/Controllers/VehiclesController.cs
Due: azure-pipelines-lorrylogapi.yml

Remove the App Service deployment workflow configuration from Azure Portal.
  .github/workflows/master_lorryapi.yml
Due: none

Delete LorryLog.sqlproj
  LorryLog/LorryLog.sqlproj
Due: none

Delete LorryLog.refactorlog
  LorryLog/LorryLog.refactorlog
Due: none

Removed Sql and Mobile projects
  LorryLogger.sln
  Pickup.sql
  Vehicle.sql
Due: none

Removed yaml pipeline files
  LorryLogger.sln
Due: none

Added yaml pipeline files back in
  LorryLogger.sln
Due: none

Delete LorryLogAPI directory
  LorryLogAPI/.config/dotnet-tools.json
  LorryLogAPI/Controllers/VehiclesController.cs
  LorryLogAPI/Data/TrackAPIContext.cs
  LorryLogAPI/LorryLogAPI.csproj
  LorryLogAPI/Program.cs
  LorryLogAPI/Properties/launchSettings.json
  LorryLogAPI/Startup.cs
  LorryLogAPI/appsettings.Development.json
  LorryLogAPI/appsettings.json
  LorryLogAPI/swagger.json
Due: azure-pipelines-lorrylogapi.yml

Path conditions:
  azure-pipelines-lorrylogapi.yml: any of: LorryLogAPI, LorryTests
  azure-pipelines.yml: any of: LorryLogAdmin
